In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [12]:
import numpy as np

In [4]:
df=pd.read_csv("Academic Performance.csv")

In [7]:
df

,Math Score,Reading Score,Writing Score,Placement Score,Club Join Year,Placement,Offer Count
0,95,81,93,85,96,98,99
1,83,79,64,97,79,66,97
2,100,96,70,86,99,84,69
3,88,83,100,81,62,79,79
4,73,72,96,62,85,64,64
5,63,76,84,100,92,83,74
6,72,87,99,94,99,72,68
7,90,75,91,66,67,88,86
8,97,79,74,77,84,90,91
9,74,60,77,70,77,81,69
10,77,65,61,90,61,60,67
11,75,94,88,91,63,90,71
12,85,79,63,93,61,99,80
13,80,79,100,71,75,76,95
14,81,81,88,61,90,91,84
15,80,64,98,100,90,69,96
16,66,85,94,84,83,60,62
17,99,80,75,93,67,72,76
18,85,87,81,99,96,63,73
19,76,99,89,84,66,97,87

In [13]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.3)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
col = ['Math Score', 'Reading Score' , 'Writing Score','Placement Score']
df.boxplot(col)

In [20]:
print(np.where(df['Math Score']>90))

(array([ 0,  2,  8, 17], dtype=int64),)

In [21]:
print(np.where(df['Reading Score']<25))
print(np.where(df['Writing Score']<30))

(array([], dtype=int64),)
(array([], dtype=int64),)